/* Home Page */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.navbar img {
    width: clamp(10em, 30vw, 10em);
}

.container-fluid {
    display: flex;
    justify-content: space-evenly;
}

.logo .logo2 {
    width: clamp(5em, 30vw, 10em);
}

.button {
    padding-left: 75px;
}

.container-fluid .input {
    width: 10em;
}

.container-fluid .button {
    width: 10em;
}

.footer {
    color:white;
    border: thin white;
    text-align: center;
    bottom: 0;
}

body {
    background-image: url('https://yonelamangele.github.io/YM-Store/Desktop%20-%201%20(1).png');
    background-size: cover;
    font-family: Kaushan Script;
    color: white;
    background-repeat: no-repeat;
}

.welcome {
    margin-top: 200px;
    text-align: center;
}

.middle1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
    flex-wrap: wrap;
}

/* .middle1 * {
    min-width: 10em;
} */

.eren {
    height: 250px;
    border-radius: 20px;
}

h3 {
    margin-top: 35px;
}

.offcanvas {
    background-color: #900603;
    color: white;
}

.nav-link {
    color: white;
}

@media only screen and (max-width: 346px) {

    #dropdown {
        display: none;
    }

    .logo2 {
        display: none;
    }

    .container-fluid {
        margin-top: 30px;
    }

    .button {
        padding-left: 0px;
    }

    .logo {
        display: none;
    }

    .cent {
        padding-left: 48px;
    }
    
}



/* About Page */
.about {
    margin-top: 200px;
    text-align: center;
}

.middle2 {
    text-align: center;
}



/* Products Page */
.merch {
    margin-top: 170px;
    text-align: center;
}

#images {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(5em, 1fr));
    text-align: center;
}


#images img {
    height: 150px;
     width: 150px;
     border-radius: 10px;
}

#display1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    margin-top: 60px;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cent * {
    padding: 0 .5em;
}

#display1 * {
    margin: 0 0 20px;
}

#viewMore {
    color: #900603;
}

#viewMore:hover {
    background-color: #900603;
    color: white;
}

.purchase {
    background-color: #900603;
    color: white;
}

.purchase:hover {
    background-color: white;
    color: #900603;
}

.image-container {
    overflow: hidden;
  }
  
  .image-container img {
    transition: transform 0.9s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.6); /* Adjust the scale factor as needed */
  }

  #dropdown {
    width: 150px;
    border-radius: 10px;
    
  }
  #dropdown> i{
    margin-left: 5px;
  }

  #searchBar {
    border-radius: 10px;
  }




/* Checkout Page */
table, th, td {
    border: 2px solid white;
}

table {
    margin: auto;
    margin-top: 50px;
}

.stuff {
    margin-top: 200px;
    text-align: center;
}

.size {
    height: 120px;
    width: 120px;
}

.glass:hover {
    color: black;
    cursor: pointer;
}




/* Admin Page */





/* Contact Page */
.contact1 {
    margin-top: 200px;
    text-align: center;
}

